.container { width: 100%; max-width: 1200px; margin: 0 auto; }

h1 { color: #007acc; font: "Open Sans", sans-serif; font-weight: 800; text-transform: uppercase; text-align: center; }

h2 { color: blue; font: "Open Sans", sans-serif; text-align: center; }

p { color: #002e4d; font: "Open Sans", sans-serif; text-align: center; }
